<!DOCTYPE html>
<html lang="en">
<head>
    <title>Input Page</title>
</head>
<body style="background-color: aqua;">
    <h2>Welcome to the Option Price calcualtor</h2>
    <div class ="content" style="display: flex; flex-direction: column; align-items: center;">
    <div class="band" >
    <p>Options is one of the most heavily traded financial instruments that derives its value from an underlying asset such as stocks. Underlying asset price, Time to Expiry, risk free rate, strike price and volatiltiy are some of the factors that influence the option price. As these financial instruments have gained popularity over a relatively short span of time it becomes necessary to predict option prices in order to make better judgements about the value of options</p>
    <p>Please Select one of the Three Methods to Compute Option Price</p>
    </div>
    <div>
    <ul >
        <li style="padding:15px"><a href="two_step/" target="_">2-STEP BINOMIAL MODEL</a></li>
        <li style="padding:15px"><a href="n_step/" target="_">N-STEP BINOMIAL MODEL</a></li>
        <li style="padding:15px"><a href="black_scholes/" target="_">BLACK SCHOLES FORMULA</a></li>
    </ul>
    </div>
    </div>
</body>
</html>